<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ideacs.application.woodeasy.dao.account.AccountMapper">

    <sql id="baseColumnList">
        id,
        `username`,
        `password`,
        show_name AS showName,
        real_name AS realName,
        phone,
        qq,
        wechat,
        email,
        education,
        age,
        gender,
        is_delete AS isDelete,
        remark
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.ideacs.application.woodeasy.entity.account.Account">
        INSERT INTO account_tb(
          `username`,`password`,show_name,real_name,phone,qq,wechat,email,education,age,gender,is_delete,remark
        ) VALUES (
          #{username},#{password},#{showName},#{realName},#{phone},#{qq},#{wechat},#{email},#{education},#{age},#{gender},#{isDelete},#{remark}
        )
    </insert>

    <update id="update" parameterType="cn.ideacs.application.woodeasy.entity.account.Account">
        UPDATE TABLE account_tb SET
          `username` = #{username},
          `password` = #{password},
          show_name = #{showName},
          real_name = #{realName},
          phone = #{phone},
          qq = #{qq},
          wechat = #{wechat},
          email = #{email},
          education = #{education},
          age = #{age},
          gender = #{gender},
          is_delete = #{isDelete},
          remark = #{remark}
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="long" resultType="cn.ideacs.application.woodeasy.entity.account.Account">
        SELECT
          <include refid="baseColumnList"/>
        FROM account_tb
        WHERE id = #{id}
    </select>

    <select id="list" resultType="cn.ideacs.application.woodeasy.entity.account.Account">
        SELECT
          <include refid="baseColumnList"/>
        FROM account_tb
        WHERE is_delete = 0
        LIMIT #{offset},#{rows}
    </select>

</mapper>