<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ideacs.application.woodeasy.dao.account.AccountMapper">

    <sql id="baseColumnList">
        id,
        `username`,
        `password`,
        show_name AS showName,
        real_name AS realName,
        phone,
        qq,
        wechat,
        email,
        education,
        age,
        gender,
        `delete` AS isDelete,
        remark
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.ideacs.application.woodeasy.entity.account.Account">
        INSERT INTO account_tb(
          `username`,
          <if test="showName != null">show_name,</if>
          <if test="realName != null">real_name,</if>
          <if test="phone != null">phone,</if>
          <if test="qq != null">qq,</if>
          <if test="wechat != null">wechat,</if>
          <if test="email != null">email,</if>
          <if test="education != null">education,</if>
          <if test="age != null">age,</if>
          <if test="gender != null">gender,</if>
          <if test="remark != null">remark,</if>
          `password`
        ) VALUES (
          #{username},
            <if test="showName != null">#{showName},</if>
            <if test="realName != null">#{realName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="qq != null">#{qq},</if>
            <if test="wechat != null">#{wechat},</if>
            <if test="email != null">#{email},</if>
            <if test="education != null">#{education},</if>
            <if test="age != null">#{age},</if>
            <if test="gender != null">#{gender},</if>
            <if test="remark != null">#{remark},</if>
          #{password}
        )
    </insert>

    <update id="update" parameterType="cn.ideacs.application.woodeasy.entity.account.Account">
        UPDATE TABLE account_tb SET
          `username` = #{username},
          `password` = #{password},
          show_name = #{showName},
          real_name = #{realName},
          phone = #{phone},
          qq = #{qq},
          wechat = #{wechat},
          email = #{email},
          education = #{education},
          age = #{age},
          gender = #{gender},
          `delete` = #{isDelete},
          remark = #{remark}
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="long" resultType="cn.ideacs.application.woodeasy.entity.account.Account">
        SELECT
          <include refid="baseColumnList"/>
        FROM account_tb
        WHERE id = #{id}
    </select>

    <select id="list" resultType="cn.ideacs.application.woodeasy.entity.account.Account">
        SELECT
          <include refid="baseColumnList"/>
        FROM account_tb
        WHERE `delete` = 0
        LIMIT #{offset},#{rows}
    </select>

    <select id="getAccountByName"  resultType="cn.ideacs.application.woodeasy.entity.account.Account">
        SELECT
          <include refid="baseColumnList"/>
        FROM account_tb
        WHERE `username` = #{username} AND `delete` = 0
    </select>

</mapper>